<p id="notice"><%= notice %></p>

<p>
  <strong>Homepage:</strong>
  <%= @movie.homepage %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @movie.overview %>
</p>

<p>
  <strong>Release:</strong>
  <%= @movie.release %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @movie.revenue %>
</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

