


<!-- Service Area -->
<section class="service-area pt-100 pb-70" style="padding-bottom: 300px;">
  <div class="container">
    <div class="section-title text-center">
      <h2><%= @fiction.name %></h2>
      <p class="margin-auto">Show the Country position in GMap</p>
    </div>
    <div class="row pt-45">
      <div class="col-lg-12 col-md-12">
        <div class="services-card">

          <p>
            <strong>Name:</strong>
            <%= @fiction.name %>
          </p>

          <p>
            <strong>Author:</strong>
            <%= @fiction.author %>
          </p>

          <p>
            <strong>Reviews:</strong>
            <%= @fiction.reviews %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @fiction.price %>
          </p>

          <p>
            <strong>Year:</strong>
            <%= @fiction.year %>
          </p>






        </div>
      </div>


    </div>
  </div>
</section>
<!-- Service Area End -->